body{
    background-color: #ac9e92;
}

.textform {
    font-weight: bold;
    text-transform: capitalize;
}

.container {
    max-width: 900px; 
}

h2.textform {
    color: #412719; 
    margin-bottom: 24px; 
}

.cssemail{
    margin-top: 24px;
}

.borderform {
    border: 2px solid #412719; 
    border-radius: 10px;
    padding: 30px; 
    background-color: #d8d0ca; 
    box-shadow: 0 4px 20px #412719; 
}

.form-label {
    font-weight: normal; 
}

.btn-success {
    width: 100%; 
    padding: 10px; 
    font-size: 16px;
}

input:focus {
    border-color: #885234; 
    box-shadow: 0 0 5px #412719; 
}

#formcheck{
    margin-bottom: 16px;
}